/* Grid */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main sidebar"
    "footer footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: sidebar;
    background: lightsteelblue;
    padding: 1rem;
}

footer {
    grid-area: footer;
}

/* Header */
header {
    font-size: 2rem;
    font-weight: bold;
    background: grey;
    padding: 0 1.5rem;
}

/* Nav */

nav ul {
    display: flex;
    list-style: none;
    font-weight: bold;
    background: lightgrey;
    padding: 1.5rem;
    margin: 0;
}

nav ul li {
    margin: 0 1.5rem 0 0;
}

/* Footer */

footer {
    text-align: right;
    padding: 1.5rem;
    background: grey;
}

/* Home */
.intro {
    background: lightsalmon;
    padding: 1rem;
}



.property-boxes {
    display: flex;
}

.image-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "image-box-image image-box-info";
    margin-bottom: 10px;
}

.image-box img {
    display: block;
    grid-area: image-box-image;
    margin: 0 10px 0 0;
}

.image-box__info {
    grid-area: image-box-info
}

/* Works */
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.main-content section {
    box-sizing: content-box;
    padding: 10px;
}

@media (max-width: 650px) {
    .main-content {
        grid-template-columns: 1fr;
    }
}

/* Gallery */

.gallery .main-content {
    width: 930px; /* @todo use image sets for different screen sizes */
}

.gallery img {
    display: block;
    padding: 10px;
    box-shadow: lightsteelblue 5px 5px 5px;
}

@media (max-width: 650px) {
    .main-content {
        grid-template-columns: 1fr;
    }
}

/* About */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}